.nav {
    grid-area: n;
    background-color: #e44d3a;
    border-radius: 5px;
    padding: 15px 30px 5px 5px;
    margin: 5px;
}

.item {
    margin-bottom: 5px;
}

.item a {
    color: floralwhite;
    text-decoration: none;

}

.item a.active {
    color: black;
}